  <div class="one_third">
      <article>
        <div class="borderedbox pad5 push15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <img src="images/tom_head_shot.jpg" alt="">
        </div>
        <h6>Assistant Professor of Information Technology</h6>
        <p><a href="http://www.marymount.edu/Academics/School-of-Business-Administration/Undergraduate-Programs/Information-Technology-(B-S-)">Department of Information Technology</a></p>
        <p><a href="http://www.marymount.edu/">Marymount University</a></p>
 
        <h6>Office Hours and Contact</h6>
        <address class="push30">4040 Fairfax, Room 423<br></address>
      
        <ul class="nospace">
            <li class="push10"><span class="icon-time"></span> Mon./Thurs. 11am - 12, 1:30 - 2:30pm</li>
            <li class="push10"><span class="icon-phone"></span> (703) 284 5935</li>
            <li><span class="icon-envelope-alt"></span> tnarock@marymount.edu</li>
        </ul>

      </article>
  </div>