        <div class="two_third first">
          <ul class="nospace">
            <li class="clear borderedbox push30">
              <div class="one_half nogutter first">
                 <img src="images/connected_people_3.jpeg" alt="Connected People Image">
              </div>
              <div class="one_half nogutter pad15">
                <h6 class="push10">Service and Outreach</h6>
                <p class="nospace push10">Professional society and community involvement</p>
                <p class="nospace right"><a href="pages/service.html">Read more &raquo;</a></p>
              </div>
            </li>
            <li class="clear borderedbox push30">
              <div class="one_half nogutter first">
                <img src="images/mu_saints2.jpeg" alt="Marymount Saints Image">
              </div>
              <div class="one_half nogutter pad15">
                <h6 class="push10">Marymount Projects</h6>
                <p class="nospace push10">On-campus activities and initiatives</p>
                <p class="nospace right"><a href="pages/mu_activities.html">Read more &raquo;</a></p>
              </div>
            </li>
            <li class="clear borderedbox">
              <div class="one_half nogutter first">
                <img src="images/press-release2.jpg" alt="Press Release Image">
              </div>
              <div class="one_half nogutter pad15">
                <h6 class="push10">Popular Press</h6>
                <p class="nospace push10">Work by my students and I that has been featured in the popular press</p>
                <p class="nospace right"><a href="pages/popular_press.html">Read more &raquo;</a></p>
              </div>
            </li>
          </ul>
        </div>
  