<!DOCTYPE html>
<html>
<head>
  <title>Teaching</title>
  <meta charset="utf-8">
  <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebPage",
      "name": "Tom Narock's Teaching",
      "author": {
        "@type": "Person",
        "url": "http://narock.github.io/",
        "honorificPrefix": "Dr.",
        "name": "Tom Narock",
        "honorificSuffix": "PhD",
        "affiliation": {
          "@type": "Organization",
          "legalName": "Marymount University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "4040 Fairfax Drive",
            "addressLocality": "Arlington",
            "addressRegion": "VA",
            "postalCode": "22203"
          },
          "department": {
            "@type": "Organization",
            "legalName": "Department of Information Technology"
          }
        }
      }
    }
  </script>
</head>
<body id="top">

<div class="wrapper row1">
  <header id="header" class="clear"> 
    
    <div id="logo" class="fl_left">
      <h1>Teaching</h1>
    </div>

    <!-- menu -->
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a href="../index.html">Home</a></li>
        <li class="active"><a href="teaching.html">Teaching</a></li>
        <li><a href="research.html">Research</a></li>
	      <li><a href="contact.html">Contact</a></li>
	      <li><a href="blog.html">Blog</a></li>
      </ul>
    </nav>

</div>

<div class="wrapper row2">
  <div id="breadcrumb"> </div>
</div>